/* 首頁的頁首和頁尾*/
body {
  font-family: Arial;
  margin: 0;
  background-image: url(image/pg.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

/* 字體 */
span {
  font-size: 20px;
}
/* 首頁的頁首*/
.header {
  margin-bottom: 20px;
  border: 6px solid black;
  display: flex;
  justify-content: space-around;
  background: white;
}
/* 頁首按鈕照片 */
img.m1 {
  width: 120px;
  float: left;
}

img.s1 {
  width: 120px;
}

img.l1 {
  width: 120px;
}

img.c1 {
  width: 120px;
}

img.a1 {
  width: 120px;
}

img.L1 {
  width: 284px;
}
/* 搜尋*/
.search-box {
  margin: 92px 0px 22px 150px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: rgb(197, 239, 247);
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  z-index: 5;
}

.search-box:hover>.search-txt {
  width: 226px;
  padding: 6 6px;
}

.search-box:hover>.search-btn {
  background: white;
}
/* 搜尋鈕*/
.search-btn {
  color: lightblue;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f8f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
/* 搜尋字*/
.search-txt {
  border: none;
  background: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
/* 按鈕*/
.button1 {
  padding: 9px 0px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border: double #999 5px;
}

.button1:hover {
  background-color: white
}

.button1:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* 點頁首主選單出現的畫面*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/* 選單的字和連結*/
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* 頁底 */
.footer {
  margin-bottom: 0px;
  border: 6px solid black;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: white;
}
