/* 首頁商品地圖 */

/* 國家選項 */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}
/* 國家選項特效 */
.tablink:hover {
  background-color: #777;
}

/* 商品地圖塊 */
.tabcontent {
  color: black;
  display: none;
  padding: 80px;
  text-align: center;
  background-color: white;

}
/* 地圖*/
img.map {
  margin-left: -23%
}
/* 地標*/
img.tag1 {
  margin-left: -16.5%;
  margin-top: -6%;
}

img.tag2 {
  margin-left: -18%;
  margin-top: -7%;
}

img.tag3 {
  margin-left: -24.5%;
  margin-top: -3%;
}

img.tag4 {
  margin-left: -19.5%;
  margin-top: 6%;
}

img.tag5 {
  margin-left: -36.5%;
  margin-top: -10%;
}

img.tag6 {
  margin-left: -25.5%;
  margin-top: -6%;
}
/* 日本商品圖*/
img.jpn2 {
  margin-left: 4%;
  margin-top: -22%;
  z-index: 10;
}

img.jpn3 {
  margin-left: 46%;
  margin-top: -26%;
  z-index: 10;
}

img.jpn4 {
  margin-left: 79%;
  margin-top: -32%;
  z-index: 10;
}

img.jpn5 {
  margin-left: 84%;
  margin-top: -61%;
  z-index: 10;
}
/* 歐美商品圖*/
img.usa1 {
  margin-left: 44%;
  margin-top: -22%;
  z-index: 10;
}

img.usa2 {
  margin-left: 40%;
  margin-top: -26%;
  z-index: 10;
}

img.usa3 {
  margin-left: 81%;
  margin-top: -22%;
  z-index: 10;
}

img.usa4 {
  margin-left: 83%;
  margin-top: -61%;
  z-index: 10;
}
/* 東南亞商品圖*/
img.asia1 {
  margin-left: 26%;
  margin-top: 0%;
}

img.asia2 {
  margin-left: -36%;
  margin-top: -5%;
}

img.asia3 {
  margin-left: 24%;
  margin-top: -15%;
}

img.asia4 {
  margin-left: 62%;
  margin-top: -89.5%;
}
/* 韓國商品圖*/
img.kor3 {
  margin-left: 5.5%;
  margin-top: -15%;
}

img.kor4 {
  margin-left: 44%;
  margin-top: -25%;
}

img.kor5 {
  margin-left: 83%;
  margin-top: -29%;
}

img.kor6 {
  margin-left: 81%;
  margin-top: -68%;
}
/* 中國商品圖*/
img.china4 {
  margin-left: 12%;
  margin-top: -17%;
}

img.china2 {
  margin-left: 58%;
  margin-top: -22%;
}

img.china6 {
  margin-left: -42%;
  margin-top: -16%;
}

img.china5 {
  margin-left: 84%;
  margin-top: -71%;
}
/* 所有商品圖特效*/
img.jpn2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.jpn3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.jpn4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.jpn5:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.kor3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.kor4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.kor5:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.kor6:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.china4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.china2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.china5:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.china6:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.usa1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.usa2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.usa3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.usa4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.asia1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.asia2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.asia3:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

img.asia4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* 晃動特效*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}